#
CASSAVA-INTERFACE-RESULT-SERVICE/node_modules
CASSAVA-INTERFACE-SERVICE/node_modules
CASSAVA-PREDICT-RESULT-SERVICE/node_modules
CASSAVA-PREDICT-SERVICE/venv
CASSAVA-USER-SERVICE/node_modules
CASSAVA-INTERFACE-SERVICE/src/consumers/CASSAVA-BE3.0.code-workspace
CASSAVA-INTERFACE-SERVICE/src/consumers/CASSAVA-PRO.code-workspace
CASSAVA-PREDICT-SERVICE/best_model